.header {
	background-color: #ffffff;
	position: relative;
	margin-bottom: 25px;
}

.header .container {
	height: 80px;
}

/* header left */
.user {
	margin-top: 10px;
}
.user__avatar {
	border:  2px solid #c5c5c5;
	border-radius: 50%;
	width: 62px;
	height: 62px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}
.user__avatar-img {
	width: 100%;
	height: 100%;
}

.user__name {
	color:  #414141;
	font-size:  18px;
	vertical-align: middle;
	display: inline-block;
}

.contact {
	position: relative;
	margin-top: 36px;
	display: inline-block;
}
.contact__link {
	color: #32c3e5;
	font: 18px 'fira_sansbold';
	line-height: 1.15;
	border-bottom: 1px dashed #32c3e5;
	display: inline-block;
	position: relative;
	margin-bottom: 13px;
}

/* dropdown menu contact */
.contact__list {
	display: none;
	position: absolute;
	z-index: 100;
	right: -60px;
	border: 1px solid #dedede;
	border-radius: 10px;
	background: #fff;
	}

.contact__list::before,
.contact__list::after{
   content: '';
   border: solid transparent;
   position: absolute;
   left: 50%;
   margin-left: -13px;
   top: -26px;
   width: 0;
   z-index: 150;
}

.contact__list::before {
	border-bottom-color: #dedede;
    border-width: 13px;
}

.contact__list::after {
border-bottom-color: #fff;
   border-width: 14px;
   margin-left: -14px;
}
.contact__item {
	display: block;
	border-bottom: 1px solid #dedede;
	
} .contact__item:last-child {
	border-bottom: none;
}
.contact__item__link{
	display: block;
	padding: 10px 20px 10px 50px;
	position: relative;
	text-align: left;
	}

.contact__icon {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 10px;
	bottom: 0;
	width: 40px;
		}

.contact__icon-pic {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin:  auto;
}

.contact__content {
	color: #414141;
	font:  18px 'fira_sanslight';
}

.contact__link:hover {
	color: #e85f61;
	border-color: #e85f61;
	}

.contact:hover .contact__list {
	display: block;
	}
.contact__item__link .contact__content:hover {
	font-family: 'fira_sansbold';
	color: #e85f61;
}